<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.mikasa.cyy">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".util.CyyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/presenter_red"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/presenter_red"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.MusicPlayerService"
            android:exported="true"
            android:enabled="true"/>
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity"></activity>
    </application>

</manifest>